@page "/about"

<PageTitle>About</PageTitle>


<div id="about-me">
    <personal_site.Layout.Partials.AboutSummary></personal_site.Layout.Partials.AboutSummary>
    <personal_site.Layout.Partials.AboutResume></personal_site.Layout.Partials.AboutResume>
</div>

