@page "/"

<PageTitle>Home</PageTitle>

<section id="profile">
    <div class="text-center mb-5">
        <h3 class="display-3">Welcome</h3>
        <div class="profile">
            <img src="/img/realpic.png" alt="zyt" class="border border-dark-suble rounded-circle mx-auto d-block" height="200" width="200">
        </div>
        <h3 class="display-6 text-center mt-3">
            Yintong Zhou
        </h3>
        <h3 class="display-6 text-center">I'm a <span class="auto-text text-start">Software Developer!</span></h3>
    </div>

    <div id="description" class="text-center align-content-center">
        <p>
            If you’d like to get to know me better, look here <NavLink class="btn-link link" href="About">About</NavLink>. <br />
            Feel free to contact me via email for any inquiries, <span class="copy-btn" onclick="copyToClipboard('contactdm.yt@gmail.com')">contactdm.yt@gmail.com</span>
        </p>
    </div>
</section>

